<!DOCTYPE html>
<html>
<head>
<title>TEST</title>
</head>
<body>

<p id="grp8"></p>

<video autoplay></video>

<script>
    const constraints = {
    //    video: {facingMode: { exact: "environment" }, },
        video: {
       	    facingMode: { exact: "user" }, 
            width: {exact: 640},
            height: {exact: 300},
	},
    };

    var errorCallback = function(error) {
        document.getElementById("grp8").innerHTML = error.message;
    };

    var video = document.querySelector('video');

    function idk(stream) {
        window.stream = stream;
        video.srcObject = stream;
        // code here
        const upper_threshold = [82, 82, 82];
        const pitches = [];

        for (let i = 0; i < 25; i++) {
            pitches.push("PLACEHOLDERFORSINEWAVE");
        }

        for (let i = 0; i < pitches.length; i++) {
        //PLAY THE WAVE
        }

        const old_notes = new Set(); // create a set

        window.AudioContext = window.AudioContext || window.webkitAudioContext;

        var audioContext = new AudioContext(); // built from AudioNodes?
        var oscillatorNode = new OscillatorNode(audioContext);
        // can be sine, square, sawtooth, triangle, and custom
        oscillatorNode.type = "sine";
        oscillatorNode.frequency.value = 440; // Hz I think
        oscillatorNode.connect(audioContext.destination);
        oscillatorNode.start(0);

        var oscillatorNode2 = new OscillatorNode(audioContext);
        oscillatorNode2.type = "sawtooth";
        oscillatorNode2.frequency.value = 100; // Hz I think
        oscillatorNode2.connect(audioContext.destination);
        oscillatorNode2.start(0);

        //maybe put in a while loop?
        document.getElementById("grp8").innerHTML = pitches;
    }    

    navigator.mediaDevices.getUserMedia(
        constraints).then(idk).catch(errorCallback); 

</script>

</body>





</html>
